* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}
/* 

span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: flex-end;
  color: white;
  padding: 40px 0px 0px 30px;
}

/* The side navigation menu */
/* .sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgb(244, 163, 132);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
} */
/* The navigation menu links */
/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color:rgb(244, 163, 132);
} */
/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}  */
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/*********Navbar***********/

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#menu-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  /* padding: 13px 20px; */
  padding: 15px 33px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 0.5s;
 
}

.navbar-desktop {
  float: right;
  width: 500px;
  justify-content: space-around;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  
}

#menu-area .logo {
  float: left;
  height: 60px;
  transition: height 0.5s;
  padding-top: 10px;
  display: contents;

}

#menu-area .logo a {
  text-decoration: none;
  /* color: #262626; */
  color: white;
  text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  align-self: center;
}
#menu-area ul {
  list-style: none;
  display: none;
}
#menu-area ul li a {
  text-decoration: none;
  /* color: #262626; */
  color: white;
}
.banner-area {
  background: url('assets/peter\ och\ theresa\ washington\ \ 2.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.banner-text h2{
  font-family: 'poppins', sans-serif;
  font-size: 50px;
  color: white;
}
.banner-text a {
  display: flex;
  text-decoration: none;
  background: #fff;
  color: darkslategrey;
  /* background: #262626;
  color: #fff; */
  padding: 15px 30px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
}
.wrapper {
  padding: 70px;
}
#menu-area.cus-nav {
  background: #fff;
  /* background: #262626; */
  z-index: 999;
}
#menu-area.cus-nav a {
  color: #000;
  /* color: #fff; */
  text-shadow: none;
}

#menu-area.cus-nav .logo img {
  height: 65px;
}

/******** Hamburger *********/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
  
}

.menu-btn__burger {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);

}

/****** SideBar *******/ 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f8d3c0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightgray;
  display: block;
  transition: 0.3s;

}

span {
  color: #fff;
  text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  font-size: xx-large;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Media Queries*/
    /*Show the navbar and hide the hamburger in this size*/
    /*Justify content;Spread the content with space between. x*/
    
@media only screen and (min-width: 768px) {
  /* #menu-area{
    padding: 15px 60px;
  } */
  #menu-area ul{
    display: contents;
 
  }

  .menu-btn {
    display: none;
  }
  /* header {
      justify-content: space-between;
  }
  nav {
      display: inline-block;
  } */
  /* #menu-area ul {
    display: contents;
  }
  span {
      display: none;
  } */
}