* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}
/* 

span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: flex-end;
  color: white;
  padding: 40px 0px 0px 30px;
}

/* The side navigation menu */
/* .sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgb(244, 163, 132);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
} */
/* The navigation menu links */
/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color:rgb(244, 163, 132);
} */
/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}  */
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/*********Navbar***********/

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#menu-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  /* padding: 13px 20px; */
  padding: 15px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 0.5s;
 
}

#menu-area .logo img {
  height: 60px;
  transition: height 0.5s;
  padding-top: 10px;
  display: contents;
}
#menu-area ul {
 width: 500px;
 justify-content: space-around;
 list-style: none;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 align-items: center;
 display: none;
}
#menu-area ul li a {
  text-decoration: none;
  /* color: #262626; */
  color: white;
}
.banner-area {
  background: url('assets/peter\ och\ theresa\ washington\ \ 2.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.banner-text h2{
  font-family: 'poppins', sans-serif;
  font-size: 50px;
  color: white;
}
.banner-text a {
  display: flex;
  text-decoration: none;
  background: #fff;
  color: #262626;
  /* background: #262626;
  color: #fff; */
  padding: 15px 30px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
}
.wrapper {
  padding: 70px;
}
#menu-area.cus-nav {
  background: #fff;
  /* background: #262626; */
  z-index: 999;
}
#menu-area.cus-nav a {
  color: #000;
  /* color: #fff; */
}

#menu-area.cus-nav .logo img {
  height: 65px;
}

/******** Hamburger *********/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
  
}

.menu-btn__burger {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);



}

/* body {
  background: peachpuff;
  color: black;
  margin: 0;
  
  font-family: 'Roboto';

  
  
} */

/* * {margin:0;padding:0}

html {
    background: lightgray;
    height: 5000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
} */

/********* Header**********/
    /*this div becomes the container for the header  display flex and the items are centered*/
    /*padding on both of the sides, the horisontal parts to make space from the boarder*/
    
/* header {
  background: paleturquoise;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  position: fixed;


  
    
    background: linear-gradient( #0fb8ad 0%, #1fc8db 51%, white 100%);
  } */


/*nav bar becomes hamburger model*/
  /*this div becomes the container for the hamburger menu,  display flex*/
  /*same height and width to make it a square*/
  /*flex/direction column to make them separate*/
  /*justify content to make them spread out / space between the lines*/
  /*margin right for space between the hamburger and logo*/
  
/* .hamburger {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24 px;
} */
/*here the actual lines for the hamburger menu, same width as the container, but thinner*/

/* .hamburger div {
    width: 30px;
    height: 5px;
    background: black;
    border-radius: 5px;
} */

/*the nav is hidden on the small screen*/
/*     
nav {
  display: none;
} */
/*links get color blue by default. we make them white and no line under the text*/
/*margin left to give space between the menu links and not mess with the outer edges*/

/* nav a {
  color: black;
  text-decoration: none;
  align-items: right;
  margin-left: 16px;
  margin-right: 16px;
} */

/* Media Queries*/
    /*Show the navbar and hide the hamburger in this size*/
    /*Justify content;Spread the content with space between. x*/
    
@media only screen and (min-width: 768px) {
  /* #menu-area{
    padding: 15px 60px;
  } */
  #menu-area ul{
    display: contents;
  }

  .menu-btn {
    display: none;
  }
  /* header {
      justify-content: space-between;
  }
  nav {
      display: inline-block;
  } */
  /* #menu-area ul {
    display: contents;
  }
  span {
      display: none;
  } */
}